In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('dataset/IMDBDataset.csv')

In [4]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
df.shape

(50000, 2)

## Lowercasing

In [8]:
 df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [9]:
df['review'] = df['review'].str.lower()

In [10]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [11]:
df['review'][3]

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

## Remove HTML tags

In [13]:
#Creating a function to remove the html tags 
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [14]:
text = "<html><body><h1>Hello, World!</h1><p>This is a paragraph.</p></body></html>"

In [15]:
remove_html_tags(text)

'Hello, World!This is a paragraph.'

In [16]:
#apply function on dataset
df['review'] = df['review'].apply(remove_html_tags)
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

## Removing URL

In [18]:
#Creating a function to remove url 
import re
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [19]:
text1 = 'check out my kaggle https://www.kaggle.com/campusx/datasets'
text2 = 'check out my github repo https://github.com/campusx-official'
text3 = 'youtube search here https://www.youtube.com/'
text4 = 'check out my kaggle https://www.kaggle.com/campusx/datasets or for youtube https://www.youtube.com/'

In [20]:
remove_url(text4)

'check out my kaggle  or for youtube '

In [21]:
df['review'] = df['review'].apply(remove_url)
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

## Remove Punctuation

In [23]:
import string

In [24]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [25]:
exclude = string.punctuation

In [26]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text
#The problem is this is very slow techniques

In [27]:
text = "Hello, world! How are you today?"

In [28]:
remove_punc(text)

'Hello world How are you today'

In [29]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [30]:
remove_punc1(text)

'Hello world How are you today'

In [31]:
df1 = pd.read_csv('dataset/test.csv')
df1.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [32]:
df1['tweet'] = df1['tweet'].apply(remove_punc1)

In [33]:
df1.head()

      id                                              tweet
0  31963  studiolife aislife requires passion dedication...
1  31964   user white supremacists want everyone to see ...
2  31965  safe ways to heal your acne    altwaystoheal h...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd bihday to my amazing hilarious nephew el...

## Chat word treatment

## Spelling Correction

https://chatgpt.com/share/67480d94-c630-8004-8d66-6e89d2d7c7db

In [37]:
from textblob import TextBlob

In [38]:
incorrect_text = "I havv goood speling!"

In [39]:
blob = TextBlob(incorrect_text)

In [40]:
corrected_text = blob.correct()

print(corrected_text)

I have good spelling!

## Removing Stop words

In [42]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [43]:
print(type(stopwords))  # Should output <class 'module'>

<class 'nltk.corpus.reader.wordlist.WordListCorpusReader'>

In [44]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [45]:
remove_stopwords('my name is narendra and i study in pune')

' name  narendra   study  pune'

In [46]:
# alternative Function to remove stopwords from text
def remove_stopwords1(text):
    stop_words = set(stopwords.words('english'))  # Use the correct method to get stopwords
    new_text = []
    
    for word in text.split():
        if word.lower() not in stop_words:  # Ensure case-insensitive comparison
            new_text.append(word)
    
    return ' '.join(new_text)

In [47]:
text = "my name is narendra and i study in pune"
result = remove_stopwords1( text)
print(result)

name narendra study pune

In [48]:
#df['review'] = df['review'].apply(remove_stopwords)

## Remove emoji

In [50]:
import re

def remove_emoji(text):
    emoji_pattern = re.compile("[" 
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

# Example usage:
text = "Hello üëãüòä! This is an example üåçüöÄ."
cleaned_text = remove_emoji(text)
print(cleaned_text)

Hello ! This is an example .

In [51]:
df['review'] = df['review'].apply(remove_emoji)

## Tokenization

### 1)using split function

In [54]:
sent1 = 'i am going to new delhi'
sent1.split()

['i', 'am', 'going', 'to', 'new', 'delhi']

In [55]:
#Sentance tokenization
sent2 = ' i am going to new delhi. i will stay there for 3 days. Let\'s hope the trip to be great'
sent2.split('.')

[' i am going to new delhi',
 ' i will stay there for 3 days',
 " Let's hope the trip to be great"]

In [56]:
#problem with split function 
sent3 = 'i going to delhi!'
sent3.split()

['i', 'going', 'to', 'delhi!']

### 2)NLTK

In [58]:
from nltk.tokenize import word_tokenize,sent_tokenize
word_tokenize(sent3)

['i', 'going', 'to', 'delhi', '!']

In [59]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize


# Sample text
sent = "This is an example sentence. It contains multiple tokens!"

# Tokenize the sentence into words
tokens = word_tokenize(sent)
print(tokens)

['This', 'is', 'an', 'example', 'sentence', '.', 'It', 'contains', 'multiple', 'tokens', '!']

In [60]:
sent4 = 'I have Ph.D in A.I'
sent5 = 'A 5km ride cost is $10.50'

In [61]:
word_tokenize(sent4)

['I', 'have', 'Ph.D', 'in', 'A.I']

In [62]:
sent_tokenize(sent4)

['I have Ph.D in A.I']

In [63]:
word_tokenize(sent5)

['A', '5km', 'ride', 'cost', 'is', '$', '10.50']

In [64]:
df['review'] = df['review'].apply(word_tokenize)

In [65]:
df.head()

                                              review sentiment
0  [one, of, the, other, reviewers, has, mentione...  positive
1  [a, wonderful, little, production, ., the, fil...  positive
2  [i, thought, this, was, a, wonderful, way, to,...  positive
3  [basically, there, 's, a, family, where, a, li...  negative
4  [petter, mattei, 's, ``, love, in, the, time, ...  positive

### 3)Spacy

In [67]:
#import spacy
#nlp = spacy.load("en_core_web_sm")

In [68]:
#doc1 = nlp(sent4)
#doc2 = nlp(sent5)

## Stemming

In [70]:
from nltk.stem.porter import PorterStemmer

In [71]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [72]:
sample = "walking walked walks"
stem_words(sample)

'walk walk walk'

In [73]:
sample1 = "Stemming, while useful for reducing words to their root forms, has several disadvantages. These issues arise primarily because stemming uses simple heuristic methods rather than linguistic rules. Here are the key disadvantages:"

In [74]:
stem_words(sample1)
#Stemming generally gives the wrong words in english which is not in english language word

'stemming, while use for reduc word to their root forms, ha sever disadvantages. these issu aris primarili becaus stem use simpl heurist method rather than linguist rules. here are the key disadvantages:'

## Lemmatization<br>
Most Accurate way

In [76]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [77]:
# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()

In [78]:
#Example
# List of words to lemmatize
words = ["running", "ran", "better", "cars", "universities", "caring", "children"]

# Function to get part-of-speech tag
def lemmatize_word(word, pos):
    return lemmatizer.lemmatize(word, pos)

# Display results
print("Word\t\tLemmatized (Verb)\tLemmatized (Noun)")
print("-" * 50)
for word in words:
    lemmatized_verb = lemmatize_word(word, pos=wordnet.VERB)  # Lemmatize as verb
    lemmatized_noun = lemmatize_word(word, pos=wordnet.NOUN)  # Lemmatize as noun
    print(f"{word:10}\t{lemmatized_verb:15}\t{lemmatized_noun}")

Word		Lemmatized (Verb)	Lemmatized (Noun)
--------------------------------------------------
running   	run            	running
ran       	run            	ran
better    	better         	better
cars      	cars           	car
universities	universities   	university
caring    	care           	caring
children  	children       	child

In [79]:
# Function to lemmatize a single sentence
def lemmatize_text(text):
    tokens = word_tokenize(text)  # Tokenize the text
    lemmatized_words = [lemmatizer.lemmatize(word) for word in tokens]  # Lemmatize each token
    return ' '.join(lemmatized_words)  # Join tokens back into a string

In [80]:
lemmatize_text(sample1)

'Stemming , while useful for reducing word to their root form , ha several disadvantage . These issue arise primarily because stemming us simple heuristic method rather than linguistic rule . Here are the key disadvantage :'